In [1]:
import pandas as pd

In [2]:
wholesale_prices = pd.read_csv("./cleaned/cocoyam-price.csv",encoding = "latin")
rainfall = pd.read_csv("pr_1991_2016_GHA.csv")
temperature = pd.read_csv("Monthly Average Temperature in Ghana.csv")
temperature_2 = pd.read_csv("tas_1991_2016_GHA.csv")

In [3]:
#Month array for extracting integer representations (index + 1)
month_array = {
    'JANUARY':1,
    'FEBRUARY':2,
    'MARCH':3,
    'APRIL':4,
    'MAY':5,
    'JUNE':6,
    'JULY':7,
    'AUGUST':8,
    'SEPTEMBER':9,
    'OCTOBER':10,
    'NOVEMBER':11,
    'DECEMBER':12,
    'Jan':1,
    'Feb':2,
    'Mar':3,
    'Apr':4,
    'May':5,
    'Jun':6,
    'Jul':7,
    'Aug':8,
    'Sep':9,
    'Oct':10,
    'Nov':11,
    'Dec':12
}

#### Wholesale Prices Quick Analysis

In [4]:
wholesale_prices.head()

   Unnamed: 0  YEAR    MONTH   PRICE
0           0  1970  JANUARY  0.0005
1           1  1971  JANUARY  0.0007
2           2  1972  JANUARY  0.0008
3           3  1973  JANUARY  0.0010
4           4  1974  JANUARY  0.0011

In [5]:
wholesale_prices.drop(wholesale_prices.columns[0],axis=1, inplace=True);

In [6]:
wholesale_prices.columns = wholesale_prices.columns.str.strip()

In [7]:
wholesale_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 3 columns):
YEAR     576 non-null int64
MONTH    576 non-null object
PRICE    576 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 13.6+ KB

In [8]:
wholesale_prices['MONTH'] = wholesale_prices.MONTH.map(month_array)

In [9]:
wholesale_prices.describe()

             YEAR       MONTH       PRICE
count   576.00000  576.000000  576.000000
mean   1993.50000    6.500000   24.619701
std      13.86544    3.455053   49.302943
min    1970.00000    1.000000    0.000500
25%    1981.75000    3.750000    0.048025
50%    1993.50000    6.500000    1.329450
75%    2005.25000    9.250000   22.037225
max    2017.00000   12.000000  248.780000

Merge Year and Month columns into date-time format:

In [10]:
wholesale_prices['DATE'] = pd.to_datetime(wholesale_prices[['YEAR', 'MONTH']].assign(Day=1))
wholesale_prices = wholesale_prices.set_index('DATE')

In [11]:
wholesale_prices.head(12)

            YEAR  MONTH   PRICE
DATE
1970-01-01  1970      1  0.0005
1971-01-01  1971      1  0.0007
1972-01-01  1972      1  0.0008
1973-01-01  1973      1  0.0010
1974-01-01  1974      1  0.0011
1975-01-01  1975      1  0.0014
1976-01-01  1976      1  0.0021
1977-01-01  1977      1  0.0051
1978-01-01  1978      1  0.0086
1979-01-01  1979      1  0.0124
1980-01-01  1980      1  0.0129
1981-01-01  1981      1  0.0312

In [12]:
#Export to CSV
wholesale_prices.to_csv("./cleaned/cocoyam_wholesale_prices.csv")

In [13]:
# wholesale_prices_per_year = wholesale_prices.groupby('YEAR')['PRICE, ¢ GH'].mean()

In [14]:
# wholesale_prices_per_year.head()

In [15]:
temperature.head()

   Temperature (C)  \tYear   Month  Country
0        25.326168    1901       1      GHA
1        28.642990    1901       2      GHA
2        28.397196    1901       3      GHA
3        28.612148    1901       4      GHA
4        27.476635    1901       5      GHA

In [16]:
temperature.columns = temperature.columns.str.strip()

In [17]:
temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1344 entries, 0 to 1343
Data columns (total 4 columns):
Temperature (C)    1344 non-null float64
Year               1344 non-null int64
Month              1344 non-null int64
Country            1344 non-null object
dtypes: float64(1), int64(2), object(1)
memory usage: 42.1+ KB

In [18]:
temperature['DATE'] = pd.to_datetime(temperature[['YEAR', 'MONTH']].assign(Day=1))
temperature = temperature.set_index('DATE')

KeyError: "['YEAR' 'MONTH'] not in index"

In [ ]:
temperature.head()

In [ ]:
temperature_2.columns = temperature_2.columns.str.strip()

In [ ]:
temperature_2.head()

In [ ]:
temperature_2 = temperature_2.rename(columns={'Temperature - (Celsius)':'Temperature (C)'})

In [ ]:
temperature_2['Month'] = temperature_2.Month.str.strip()

In [ ]:
temperature_2['Month'] = temperature_2.Month.map(month_array)

In [ ]:
temperature_2.head()

In [ ]:
temperature.tail()

In [ ]:
temperature_2_above = temperature_2[temperature_2.Year > 2012]

In [ ]:
temperature_2_above['DATE'] = pd.to_datetime(temperature_2_above.loc[:,['YEAR', 'MONTH']].assign(Day=1))
temperature_2_above = temperature_2_above.set_index('DATE')

In [ ]:
temperature_2_above.drop(['Country', 'ISO3'], axis=1, inplace=True)
temperature.drop(['Country'], axis=1, inplace=True);

In [ ]:
temperature_2_above.tail()

In [ ]:
temperature.tail()

In [ ]:
full_temp = pd.concat([temperature, temperature_2_above])

In [ ]:
full_temp.tail()

In [ ]:
temperature_df = full_temp['Temperature (C)'].to_frame()

In [ ]:
wholesale_prices_with_temp = pd.merge(wholesale_prices, temperature_df, left_index=True, right_index=True)

In [ ]:
#wholesale_prices_with_temp.COMMODITY.unique()

In [ ]:
wholesale_prices_with_temp.tail()

### Rainfall

In [ ]:
rainfall.head()

In [ ]:
rainfall.columns = rainfall.columns.str.strip()

In [ ]:
rainfall.info()

In [ ]:
rainfall['Month'] = rainfall.Month.str.strip()

In [ ]:
rainfall['Month'] = rainfall.Month.map(month_array)

In [ ]:
rainfall.head()

In [ ]:
rainfall.drop(['Country','ISO3'], axis=1, inplace=True)

In [ ]:
rainfall.head()

In [ ]:
rainfall['DATE'] = pd.to_datetime(rainfall[['Year', 'Month']].assign(Day=1))
rainfall = rainfall.set_index('DATE')

In [ ]:
rainfall.head()

In [ ]:
#Drop year and month from Rainfall
rainfall.drop(['Year','Month'],axis=1, inplace=True)

In [ ]:
wholesale_prices_with_temp_and_rainfall = pd.merge(wholesale_prices_with_temp, rainfall, left_index=True, right_index=True)

In [ ]:
wholesale_prices_with_temp_and_rainfall.head()

In [ ]:
wholesale_prices_with_temp_and_rainfall.to_csv('./cleaned/cocoyam_prices_with_temp_and_rainfall.csv')